@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% { }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translatex(100); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #008000;
  padding: 40px; }

body {
  font-family: "lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #008000;
  padding: 40px; }

.heading-primary {
  color: #008000;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary-main {
    display: block;
    font-size: 40px;
    font-weight: 40px;
    letter-spacing: 40px;
    animation-name: moveinleft;
    animation-duration: 3s; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 40px;
    letter-spacing: 20px;
    animation: moveinright;
    animation-duration: 3s; }

.heading-secondary {
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(#ffd700, #ffff00);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  margin-top: -80px; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: 30px 10px 20px rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: small;
  color: #000000; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 50px;
  transition: all .2s;
  font-size: 15px;
  font-weight: 25px; }

.btn-white {
  background-color: #ffffff;
  color: #008000; }

.btn:hover {
  transform: translatey(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px); }

.btn-text:link, .btn-text:visited {
  color: #008000;
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ffff00;
  padding: 2px;
  transition: all .2s; }
  .btn-text:link:hover, .btn-text:visited:hover {
    background-color: #ffff00;
    color: #808080;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
    transform:translateY(-2px)
.btn-text:link:hover:active, transform:translateY(-2px)
.btn-text:visited:hover:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0); }

.composition {
  position: relative; }
  .composition_photo {
    width: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .3s;
    outline-offset: 1rem; }
    .composition_photo--p1 {
      left: 20px;
      top: 2px; }
    .composition_photo--p2 {
      right: 0;
      top: 2rem; }
    .composition_photo--p3 {
      left: 20%;
      top: 8rem; }
    .composition_photo:hover {
      outline: 1.4rem solid #ffff00;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 3px rgba(0, 0, 0, 0.4);
      z-index: 20; }
    .composition_photo:hover .composition_photo_photo:not(:hover) {
      transform: scale(0.1); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem #000000; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box_icon {
    font-size: 3rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(#ffd700, #ffff00);
    -webkit-background-clip: text;
    color: transparent; }

.row {
  max-width: 55rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 50px; }
  .row::after {
    content: none;
    display: table;
    clear: both; }

.col-1-of-2 {
  width: calc((100% - 2rem) /2);
  float: left; }
  .col-1-of-2:not(:last-child) {
    margin-right: 2rem; }

.col-1-of-3 {
  width: calc((100% - 2 * 2rem) /3); }

.col-1-of-4 {
  width: calc((100% - 3 * 2rem) /4); }

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(255, 215, 0, 0.708), rgba(255, 255, 0, 0.744)), url(../tour3.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); }

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px; }

.logo {
  height: 35px; }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.section-about {
  background-color: #f0ffff;
  padding: 26rem 0;
  margin-top: -24vh; }

.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(rgba(255, 215, 0, 0.8), rgba(255, 255, 0, 0.8)), url(/tour0.jpg);
  background-size: cover; }
