@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% { }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translatex(100); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #008000;
  padding: 40px; }

body {
  font-family: "lato",sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #008000;
  padding: 40px; }

.heading-primary {
  color: #008000;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px; }
  .heading-primary-main {
    display: block;
    font-size: 40px;
    font-weight: 40px;
    letter-spacing: 40px;
    animation-name: moveinleft;
    animation-duration: 3s; }
  .heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 40px;
    letter-spacing: 20px;
    animation: moveinright;
    animation-duration: 3s; }

.heading-secondary {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(#ffd700, #ffff00);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  margin-top: -10px; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: 30px 10px 20px rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: small;
  color: #000000; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-4 {
  margin-bottom: 4rem !important; }

.u-margin-bottom-2 {
  margin-bottom: 2rem !important; }

.u-margin-bottom-1 {
  margin-bottom: 1rem !important; }

.u-margin-bottom-3 {
  margin-bottom: 3rem !important; }

.u-margin-top-big {
  margin-top: 4rem !important; }

.u-margin-top-2 {
  margin-top: 2rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video_content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 15px;
  display: inline-block;
  border-radius: 50px;
  transition: all .2s;
  font-size: 10px;
  font-weight: 25px;
  border: none;
  cursor: pointer; }

.btn-white {
  background-color: #ffffff;
  color: #008000; }

.btn-blue {
  background-color: #90EE90;
  color: #ffffff; }

.btn:hover {
  transform: translatey(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px); }

.btn-text:link, .btn-text:visited {
  color: #008000;
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ffff00;
  padding: 2px;
  transition: all .2s; }
  .btn-text:link:hover, .btn-text:visited:hover {
    background-color: #ffff00;
    color: #808080;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
    transform:translateY(-2px)
.btn-text:link:hover:active, transform:translateY(-2px)
.btn-text:visited:hover:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 23rem; }
  .card_side {
    height: 23rem;
    transition: all .8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card_side--front {
      background-color: #ffffff; }
    .card_side--back {
      transform: rotatey(180deg); }
      .card_side--back-1 {
        background-image: linear-gradient(#ffb900, #ff7730); }
  .card:hover .card_side--front {
    transform: rotatey(-180deg); }
  .card:hover .card_side--back {
    transform: rotatey(0); }
  .card_picture {
    background-size: cover;
    height: 9rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%); }
    .card_picture--1 {
      background-image: linear-gradient(#ffb900, #ff7730), url(../../card1.jpg); }
  .card_heading {
    font-size: 30px;
    font-weight: 20;
    text-transform: uppercase;
    color: #ff7730;
    position: absolute;
    top: 2.7rem;
    right: 1rem;
    text-align: right;
    width: 65%; }
  .card_heading-span {
    padding: 1px 1px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card_heading-span--1 {
      background-image: linear-gradient(rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .card_details {
    padding: 1rem; }
    .card_details ul {
      list-style: none;
      width: 60%;
      margin: 0 auto; }
      .card_details ul li {
        text-align: center;
        font-size: 10px;
        padding: 10px; }
        .card_details ul li:not(:last-child) {
          border-bottom: 3px solid #f0ffff; }
  .card_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    text-align: center; }
  .card_price-box {
    text-align: center;
    color: #ffffff;
    margin: 2rem; }
  .card_price-only {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ffffff; }
  .card_price-value {
    font-size: 4rem;
    font-weight: 100; }

.card1 {
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 23rem; }
  .card1:hover .card1_side1--front1 {
    transform: rotateY(-180deg); }
  .card1:hover .card1_side1--back1 {
    transform: rotateY(0); }
  .card1_side1 {
    height: 23rem;
    transition: all .6s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card1_side1--front1 {
      background-color: #ffffff; }
    .card1_side1--back1 {
      transform: rotateY(180deg); }
      .card1_side1--back1-11 {
        background-image: linear-gradient(#ADD8E6, #00008B); }
      .card1_side1--back1-40 {
        background-image: linear-gradient(#006400, #90EE90); }
  .card1_picture1 {
    background-size: cover;
    height: 9rem;
    background-blend-mode: screen;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%); }
    .card1_picture1--12 {
      background-image: linear-gradient(#00008B, #ADD8E6), url(../../beach10.jpg); }
  .card1_heading1 {
    font-size: 30px;
    font-weight: 20;
    text-transform: uppercase;
    color: #ADD8E6;
    position: absolute;
    top: 2.7rem;
    right: 1rem;
    text-align: right;
    width: 65%; }
  .card1_heading1-span {
    padding: 1px 1px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card1_heading1-span--13 {
      background-image: linear-gradient(rgba(0, 0, 139, 0.85), rgba(173, 216, 230, 0.85)); }

.card3_picture3 {
  background-size: cover;
  height: 9rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%); }
  .card3_picture3--20 {
    background-image: linear-gradient(#90EE90, #006400), url(../../zoo99.jpg); }

.card3_heading3 {
  font-size: 34px;
  font-weight: 34;
  text-transform: uppercase;
  color: #90EE90;
  position: absolute;
  top: 2.7rem;
  right: 1rem;
  text-align: right;
  width: 65%; }

.card3_heading3-span {
  padding: 1px 1px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone; }
  .card3_heading3-span--30 {
    background-image: linear-gradient(rgba(144, 238, 144, 0.85), rgba(0, 100, 0, 0.85)); }

.composition {
  position: relative; }
  .composition_photo {
    width: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .3s;
    outline-offset: 1rem; }
    .composition_photo--p1 {
      left: 20px;
      top: 2px; }
    .composition_photo--p2 {
      right: 0;
      top: 2rem; }
    .composition_photo--p3 {
      left: 20%;
      top: 8rem; }
    .composition_photo:hover {
      outline: 1.4rem solid #ffff00;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 3px rgba(0, 0, 0, 0.4);
      z-index: 20; }
    .composition_photo:hover .composition_photo_photo:not(:hover) {
      transform: scale(0.1); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 11px;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem #000000; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box_icon {
    font-size: 3rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(#ffd700, #ffff00);
    -webkit-background-clip: text;
    color: transparent; }

.form_group:not(:last-child) {
  margin-bottom: .5rem; }

.form_input {
  font-size: .6rem;
  font-family: 'Courier New', Courier, monospace;
  color: #008000;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  background-color: rgba(240, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
  .form_input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #006400; }
    .form_input:focus:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form_input::-webkit-input-placeholder {
    color: #808080; }

.form_label {
  font-size: 16px;
  font-weight: 400;
  margin-left: 1.6rem;
  margin-top: .6rem;
  display: block;
  transition: all .4s; }

.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2rem); }

.form_radio-group {
  width: 49%;
  display: inline-block; }

.form_radio-input {
  display: none; }

.form_radio-label {
  font-size: .7rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem; }

.form_radio-button {
  height: 1.5rem;
  width: 1.5rem;
  border: 5px solid #ffd700;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -6px; }
  .form_radio-button::after {
    content: "";
    display: block;
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffd700;
    opacity: 0;
    transition: opacity .3s; }

.form_radio-input:checked ~ .form_radio-label .form_radio-button::after {
  opacity: 1; }

.testimony {
  width: 84%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 8rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 69%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 69%, 0 100%); }
  .testimony_shape {
    width: 10rem;
    height: 10rem;
    background-color: #ffd700;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem);
    position: relative; }
  .testimony_img {
    height: 100%;
    transform: translateX(-2rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .testimony_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    transition: all 5s; }
  .testimony:hover .testimony_caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .testimony:hover .testimony_img {
    transform: translate(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.footer {
  background-color: #333;
  padding: 4rem;
  font-size: .7rem;
  color: #ffb900; }
  .footer_logo {
    width: 10rem;
    height: auto; }
  .footer_logo-box {
    text-align: center;
    margin-bottom: 4rem; }
  .footer_navigation {
    border-top: 1px solid #f0ffff;
    padding: 1rem;
    display: inline-block; }
  .footer_list {
    list-style: none; }
  .footer_item {
    display: inline-block; }
    .footer_item:not(:last-child) {
      margin-right: 1rem; }
  .footer_link:link, .footer_link:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .3s;
    background-color: #333; }
  .footer_link:hover, .footer_link:active {
    color: #ffd700;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer_copyright {
    color: #ffffff;
    border-top: 1px solid #f0ffff;
    padding: 1rem;
    display: inline-block;
    width: 80%;
    float: right; }

.row {
  max-width: 50rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 50px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }

.col-1-of-2 {
  width: calc((100% - 3rem) /2); }

.col-1-of-3 {
  width: calc((100% - 2 * 3rem) /3);
  margin-top: 3px; }

.col-1-of-4 {
  width: calc((100% - 3 * 3rem) /4);
  margin-top: -90px; }

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(255, 215, 0, 0.708), rgba(255, 255, 0, 0.744)), url(../tour3.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 100%); }

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px; }

.logo {
  height: 35px; }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation_checkbox {
  display: none; }

.navigation_button {
  background-color: #ffffff;
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 2000; }

.navigation_background {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: fixed;
  top: 5rem;
  right: 5rem;
  background-image: radial-gradient(#ffd700, #ffff00);
  z-index: 1000;
  transform: scale(40); }

.navigation_nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500; }

.navigation_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation_item {
  margin: 1rem; }

.navigation_link:link, .navigation_link:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 200;
  color: #006400;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
  padding: 1rem;
  background-size: 230%;
  transition: all .4s; }
  .navigation_link:link span, .navigation_link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation_link:hover, .navigation_link:active {
  background-position: 100%;
  transform: translateX(1rem); }

.section-about {
  background-color: #f0ffff;
  padding: 3rem 0;
  margin-top: 0vh; }

.section-features {
  padding: 15rem 0;
  background-image: linear-gradient(rgba(255, 215, 0, 0.8), rgba(255, 255, 0, 0.8)), url(/tour0.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 100%); }

.logo-box {
  position: absolute;
  top: 20px; }

.section-tour {
  background-color: #f0ffff;
  padding: 3rem 0;
  margin-top: 0vh; }

.section-testimony {
  position: relative;
  padding: 5rem 0; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(#ffd700, #ffff00); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../openla.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  height: 25rem; }
  .book_form {
    width: 50%;
    padding: 4rem; }
