.composition{
    position: relative;
    &_photo{
        width: 50%;
        box-shadow: 0 5px 5px rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .3s;
        outline-offset: 1rem;
        &--p1{
            left: 20px;
            top:2px;  
            }
            &--p2{
                right: 0;
                top: 2rem;}
                &--p3{
                    left: 20%;
                    top: 8rem;
                }
                
                &:hover{
                    outline: 1.4rem solid  $color-secondary;
                    transform: scale(1.05) translateY(-.5rem);
                    box-shadow: 0 3px rgba($color-black, .4);
                    z-index: 20;
                }
                &:hover 
                &_photo:not(:hover){
                    transform: scale(.100);
                }
        }
    }

