.section-about{
    background-color: $color-azure;
    padding: 3rem 0;
    margin-top: 0vh;
}
.section-features{
    padding: 15rem 0;
    background-image: linear-gradient(rgba($color-primary, 0.8), rgba($color-secondary, 0.8)), url(/tour0.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 100%);}
    .logo-box {position:absolute;
    top: 20px;
}
.section-tour{
    background-color: $color-azure;
    padding: 3rem 0;
    
    margin-top: 0vh;}



    .section-testimony{
    position: relative;
        padding: 5rem 0;
       
    }
    .section-book{
        padding:15rem 0;
        background-image: linear-gradient($color-primary,$color-secondary);

    }
    
    .book{
        background-image:linear-gradient(105deg,rgba($color-white, .9)50%,
         transparent 50%), url(../../openla.jpg);
        background-size: cover;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .3);

        height: 25rem;
        &_form{
            width: 50%;
            padding: 4rem;
        }
        
    }